<h1 id="title">myWork</h1>

{{my-workbench economics=model.economics}}

{{my-links links=model.links}}

{{merck-news news=model.news}}

{{my-communities}}

{{my-news news=model.eucan title="EUCAN"}}

{{my-news news=model.it title="IT News"}}
